<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>swarm-checkin-post-man</title>
</head>

<body>
    <h1>swawrm-checkin-post-man</h1>
    <p>The following URLs should be set in <a href="https://foursquare.com/developers/home">Foursquare Developer
            Console</a>.
    </p>
    <table border="1">
        <tr>
            <th>Category</th>
            <th>URL</th>
        </tr>
        <tr>
            <td>Redirect URL</td>
            <td>{{redirect_url}}</td>
        </tr>
        <tr>
            <td>Push API URL</td>
            <td>{{push_api_url}}</td>
        </tr>
    </table>
    <p>After setting the above URLs, authenticate the swarm app from <a href="{{auth_url}}">{{auth_url}}</a></p>
</body>

</html>
